---
//Se importa la información de todas las materias del pensum
import niveles from '@/data/infoMaterias'
import Materia from './Materia.astro'

// Arreglo dónde se guardarán la suma de los datos de las materias
let datosTotales: {
  tdTotal: number
  tcTotal: number
  taTotal: number
  creditosTotal: number
}[] = []

// Se itera cada nivel y se guardan en un objeto "totalMaterias" la suma de los datos todas las materias de ese nivel
niveles.forEach((nivel) => {
  let suma = nivel.materias.reduce(
    (totalMaterias, materia) => {
      if(materia.ta && materia.tc && materia.td && materia.creditos){
        totalMaterias.tdTotal += materia.td
        totalMaterias.tcTotal += materia.tc
        totalMaterias.taTotal += materia.ta
        totalMaterias.creditosTotal += materia.creditos
      }

      return totalMaterias
    },
    
    { tdTotal: 0, tcTotal: 0, taTotal: 0, creditosTotal: 0 }
  )

  //Se anida al arreglo datosTotales la suma de los datos del nivel
  datosTotales.push(suma)
})
---

<div id='pensum'>
  {
    niveles.map((nivel, index) => {
      return (
        <>
          <h2>{nivel.nombre}</h2>

          <div class='materias'>
            {nivel.materias.map((materia) => (
              <Materia {...materia} />
            ))}
          </div>

          <table class='total'>
            <tr>
              <td title="Trabajo Presencial Directo">TD</td>
              <td title="Trabajo Mediado_Cooperativo">TC</td>
              <td title="Trabajo Autónomo">TA</td>
            </tr>
            <tr>
              <td>{datosTotales[index].tdTotal}</td>
              <td>{datosTotales[index].tcTotal}</td>
              <td>{datosTotales[index].taTotal}</td>
            </tr>
            <tr>
              <td colspan='3'>Créditos: {datosTotales[index].creditosTotal}</td>
            </tr>
            
          </table>
          
          
        </>
      )
    })
  }
</div>

<style>
  h2 {
    text-align: center;  
    margin: 0;
  }

  #pensum{
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(9, 1fr);
      gap: 14px;
  }

  .materias {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1rem;
    min-width: 100%;
  }

  .total {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
  }

  .total td {
    border: 1px black solid;
    text-decoration: none;
  }

  .total tr:first-child td{
    cursor: help;
  }

  @media screen and (max-width: 840px) {

    h2{
      margin: 1rem 0;  
    }

    .materias{
      
    }

    .total{
      margin-bottom: 2rem;
    }

    #pensum {
      display: block;
    }
  }
</style>
